<div class="content d-flex flex-column flex-column-fluid">
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" [formGroup]="autoCreatePurchaseOrdersForm" *ngIf="autoCreatePurchaseOrdersForm">
                    <p-panel header="{{'Search' | localize}}" [toggleable]="true">
                        <div class="row">
                            <div class="col-xl-4 col-sm-12">
                                <div class="form-group">
                                    <tmss-text-input [text]="l('ContractNo')"
                                        formControlName="contractNo"></tmss-text-input>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-12">
                                <tmss-combobox [text]="l('Supplier')" formControlName="supplierId"
                                    [items]="listSuppliers"></tmss-combobox>
                            </div>
                            <!-- <div class="col-xl-4 col-sm-12">
                                <div class="form-group">
                                    <tmss-combobox [text]="l('Buyer')" [items]="listUsers"
                                        formControlName="buyerId"></tmss-combobox>
                                </div>
                            </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-xl-4 col-sm-12">
                                <tmss-combobox [text]="l('Supplier')" formControlName="supplierId"
                                    [items]="listSuppliers"></tmss-combobox>
                            </div>
                            <div class="col-xl-4 col-sm-12">
                                <tmss-combobox [text]="l('SupplierSite')" [items]="listSuppliersSite"
                                    formControlName="supplierSiteId"></tmss-combobox>
                            </div>
                            <div class="col-xl-4 col-sm-12">
                                <tmss-combobox [text]="l('DocumentType')" [items]="listDocumentTypes"
                                    formControlName="documentTypeId"></tmss-combobox>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-xl-4 col-sm-12 mt-2">
                                <tmss-datepicker [text]="l('FromDate')" formControlName="fromDate"></tmss-datepicker>
                            </div>
                            <div class="col-xl-4 col-sm-12 mt-2">
                                <tmss-datepicker [text]="l('ToDate')" formControlName="toDate"></tmss-datepicker>
                            </div>
                            <div class="col-xl-4 col-sm-12 mt-2">
                                <button (click)="searchContract()" pButton pRipple type="button"
                                    class="tmss-btn p-button-outlined btn-outline-primary">
                                    <i class="fa tmss-fa fa-search mr-1"></i>
                                    {{'Search' | localize}}
                                </button>
                            </div>
                        </div>
                    </p-panel>
                </form>
            </div>

        </div>

        <div class="card card-custom gutter-b">
            <div class="card-body">
                <!-- <p-panel header="List purchase purpose" class="content-panel-custom" [toggleable]="true"> -->
                <div class="row align-items-center">
                    <div class="col-12">
                        <grid-table [height]="'400px'" [columnDefs]="gridColDef" [rowData]="listContract"
                            [paginationParams]="paginationParams" (callBackEvent)="callBackGrid($event)"
                            (changePaginationParams)="changePaginationParams($event)"
                            (onChangeSelection)="onChangeSelection($event)"
                            [rowSelection]="'multiple'"
                            >
                        </grid-table>
                    </div>
                </div>
                <!-- </p-panel> -->
                <div class="col-12 text-right">

                    <button (click)="createManual()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-plus mr-1"></i>
                        {{l('Manual')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <create-or-edit-purchase-orders #createOrEditPurchaseOrders (close)="searchPurchaseRequest()"></create-or-edit-purchase-orders> -->