<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" (onHidden)="reset()" [config]="{ ignoreBackdropClick: 'static' }">
    <div class="modal-dialog tmss-modal-md">
        <div class="modal-content">
            <form #mstInventoryItemsForm="ngForm" *ngIf="createOrEditForm" [formGroup]="createOrEditForm" novalidate
                autocomplete="off">
                <div class="modal-header modal-header-master" style="margin-bottom: 20px">
                    <h5 class="modal-title" style="margin-left: 15px">
                        <span *ngIf="isEditForm">{{'Edit' | localize}}</span>
                        <span *ngIf="!isEditForm">{{'AddModal' | localize}}</span>
                    </h5>
                    <button type="button" style="margin-right: 1% !important" class="close" (click)="closeModel()"
                        [attr.aria-label]="l('Close')">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body modal-body-master">
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <tmss-combobox [text]="l('QuotaCode')" formControlName="quotaCode" [items]="listInventory"
                                (onChangeValue)="setQuotaName()"></tmss-combobox>
                        </div>
                        <div class="form-group col-sm-4">
                            <tmss-text-input [text]="l('QuotaName')" formControlName="quotaName" [maxLength]="255"
                                [isDisabled]="true"></tmss-text-input>
                        </div>
                        <div class="form-group col-sm-4">
                            <tmss-combobox [text]="l('QuotaType')" formControlName="quotaType"
                                [items]="qoutaList"></tmss-combobox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <tmss-combobox [text]="l('OrgId')" formControlName="orgId"
                                [items]="listHrOrg"></tmss-combobox>
                        </div>
                        <div class="form-group col-sm-6">
                            <tmss-combobox [text]="l('TitleId')" formControlName="titleId"
                                [items]="listTitle"></tmss-combobox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <tmss-text-input [text]="l('QuotaPrice')" formControlName="quotaPrice"></tmss-text-input>
                        </div>
                        <div class="form-group col-sm-4">
                            <tmss-combobox [text]="l('UnitOfMeasure')" formControlName="currencyCode"
                                [items]="listUnit"></tmss-combobox>
                        </div>
                        <div class="form-group col-sm-4">
                            <tmss-combobox [isDisabled]="!isEditForm" [text]="l('Status')" formControlName="status"
                                [items]="listStatus"></tmss-combobox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <tmss-datepicker [text]="l('StartDate')" formControlName="startDate"></tmss-datepicker>
                        </div>
                        <div class="form-group col-sm-6">
                            <tmss-datepicker [text]="l('EndDate')" formControlName="endDate"></tmss-datepicker>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-master">
                        <button *ngIf="isGranted('MasterData.QuotaExpense.Add') && isGranted('MasterData.QuotaExpense.Edit')" (click)="save()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                            <i class="fa tmss-fa fa-plus mr-1"></i>
                           {{'SaveModal' | localize}}
                        </button>
                        <button (click)="closeModel()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-danger">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{'Cancel' | localize}}
                        </button>
                        <button class="ghost" #submitBtn></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
