<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" (onHidden)="reset()" [config]="{ignoreBackdropClick: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #mstPurchasePurposeForm="ngForm" *ngIf="createOrEditForm" [formGroup]="createOrEditForm" novalidate
                autocomplete="off">
                <div class="modal-header modal-header-master" style="margin-bottom: 20px;">
                    <h5 class="modal-title" style="margin-left: 15px;">
                        <span *ngIf="isEdit">{{'Edit' | localize}}</span>
                        <span *ngIf="!isEdit">{{'AddModal' | localize}}</span>
                    </h5>
                    <button type="button" style="margin-right: 1% !important;" class="close" (click)="closeModel()"
                        [attr.aria-label]="l('Close')">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>

                <div class="modal-body modal-body-master">
                    <div class="form-group" hasError="periodId">
                        <tmss-combobox class="input-search" [text]="l('Period')" isRequired="true" formControlName="periodId"
                            [items]="listPertiod">
                        </tmss-combobox>
                        <div class="error-message" errorMessage>
                            <div *ifError="'required'">{{'Required' | localize}}</div>
                        </div>
                    </div>
                    
                    <div class="form-group" hasError="code">
                        <tmss-text-input [text]="l('Code')" formControlName="code" isRequired="true"></tmss-text-input>
                        <div class="error-message" errorMessage>
                            <div *ifError="'required'">{{'Required' | localize}}</div>
                            <div *ngIf="duplicateCode">{{'Duplicate' | localize}}</div>
                        </div>
                    </div>
                    <div class="form-group" hasError="name">
                        <tmss-text-input [text]="l('Name')" formControlName="name" isRequired="true"></tmss-text-input>
                        <div class="error-message" errorMessage>
                            <div *ifError="'required'">{{'Required' | localize}}</div>
                        </div>
                    </div>

                    <div class="form-group" hasError="description">
                        <tmss-textarea [text]="l('Description')" formControlName="description"></tmss-textarea>
                    </div>
                    
                    <div class="form-group" hasError="isActive">
                        <tmss-checkbox [text]="l('Active')" formControlName="isActive"></tmss-checkbox>
                    </div>

                </div>

                <div class="modal-footer modal-footer-master">
                    <button (click)="save()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-save mr-1"></i>
                        {{'SaveModal' | localize}}
                    </button>
                    <button (click)="closeModel()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-danger">
                        <i class="fa tmss-fa fa-times mr-1"></i>
                        {{'Cancel' | localize}}
                    </button>

                    <button class="ghost" #submitBtn></button>

                </div>
            </form>
        </div>
    </div>
</div>