
<div>
    <div class="content d-flex flex-column flex-column-fluid">
           <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="custom-row ">
                        <div class="col-xl-3 col-sm-12">
                            <tmss-text-input
                                [text]="l('InvoiceNo')"
                                [(ngModel)]="invoiceNum"
                            ></tmss-text-input>
                        </div>

                        <div class="col-xl-2 col-sm-12">
                            <tmss-text-input
                                [text]="l('SerialNo')"
                                [(ngModel)]="serialNo"
                            ></tmss-text-input>
                        </div>

                        <!-- thay doi tim theo ten NCC -->
                        <div class="col-xl-3 col-sm-12">
                            <tmss-text-input
                                [text]="l('Supplier')"
                                [(ngModel)]="supplierNo"
                            ></tmss-text-input>
                        </div>

                        <div class="col-xl-4 col-sm-12" style="display: flex">
                            <div class="col-xl-8 col-sm-12">
                                <tmss-combobox
                                    [text]="l('Status')"
                                    [items]="invoiceStatusList"
                                    [(ngModel)]="statusFilter"
                                ></tmss-combobox>
                            </div>

                            <div class="col-xl-8 col-sm-12">
                                <button ng-if="selectedRow" (click)="searchData()" pButton pRipple type="button"
                                    class="tmss-btn p-button-outlined btn-outline-primary">
                                    <i class="fa tmss-fa fa-search mr-1"></i>
                                    {{l('Search')}}
                                </button>
                            </div>

                            <!-- <button ng-if="selectedRow" (click)="searchData()" pButton pRipple type="button"
                                class="tmss-btn p-button-outlined btn-outline-primary">
                                <i class="fa tmss-fa fa-search mr-1"></i>
                                Search
                            </button> -->
                        </div>

                        <!-- <div class="col-xl-2 col-sm-12 text-right">

                        </div> -->


                    </div>

                    <!-- <div class="custom-row mt-1">
                        <div class="col-xl-6 col-sm-12">
                            <button ng-if="selectedRow" (click)="deleteInvoice()" pButton pRipple type="button"
                                class="tmss-btn p-button-outlined btn-outline-primary">
                                <i class="fa tmss-fa fa-plus mr-1"></i>
                                Add
                            </button>

                        </div>

                        <div class="col-xl-6 col-sm-12 text-right">
                            <button ng-if="selectedRow" (click)="downloadTemp()" pButton pRipple type="button"
                                class="tmss-btn p-button-outlined btn-outline-primary">
                                <i class="fa tmss-fa fa-download mr-1"></i>
                                DigitalInvoiceTemplate
                            </button>

                            <button ng-if="selectedRow" (click)="uploadInvoice()" pButton pRipple type="button"
                                class="tmss-btn p-button-outlined btn-outline-primary">
                                <i class="fa tmss-fa fa-upload mr-1"></i>
                                Upload
                            </button>
                        </div>
                    </div> -->
                </div>



           </div>

           <div class="card card-custom gutter-b">
            <div class="card-body">
                <!-- <p-panel header="List purchase purpose" class="content-panel-custom" [toggleable]="true"> -->
                    <div class="row align-items-center">
                        <div id="table1" class="col-12">
                            <grid-table  [height]="'300px'" [columnDefs]="gridColDef" [rowData]="rowData"
                                [paginationParams]="paginationParams" (callBackEvent)="callBackGrid($event)"
                                (changePaginationParams)="changePaginationParams($event)"
                                (onChangeSelection)="onChangeSelection($event)"
                                cellEditStopParams="{'stopEditingWhenGridLosesFocus': true}"
                                >
                            </grid-table>
                        </div>
                    </div>
                <!-- </p-panel> -->
                <div class="col-12 text-right">
                    <button (click)="viewInvoice()" [disabled]=" !selectedRow || !selectedRow.id" Button pRipple type="button"
                    class="tmss-btn p-button-outlined btn-outline-primary">
                    <i class="fa tmss-fa fa-eye mr-1"></i>
                    {{l('ViewDetail')}}
                
                    </button>
                    <button ng-if="selectedRow" (click)="editInvoice()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-edit mr-1"></i>
                        {{l('Edit')}}
                        
                    </button>

                    <button ng-if="selectedRow" (click)="deleteInvoice()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-danger">
                        <i class="fa tmss-fa fa-trash mr-1"></i>
                        {{l('Delete')}}
                        
                    </button>

                    <button ng-if="selectedRow" (click)="changeInvoiceStatus()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-edit mr-1"></i>
                        {{l('ChangeStatus')}}
                        
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
