<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" (onHidden)="reset()" [config]="{ignoreBackdropClick: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #mstPurchasePurposeForm="ngForm" *ngIf="createOrEditForm" [formGroup]="createOrEditForm" novalidate
                autocomplete="off">
                <div class="modal-header modal-header-master" style="margin-bottom: 20px;">
                    <h5 class="modal-title" style="margin-left: 15px;">
                        <span *ngIf="isEdit">{{'Edit' | localize}}</span>
                        <span *ngIf="!isEdit">{{'AddModal' | localize}}</span>
                    </h5>
                    <button type="button" style="margin-right: 1% !important;" class="close" (click)="closeModel()"
                        [attr.aria-label]="l('Close')">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>

                <div class="modal-body modal-body-master">
                    <div class="form-group" hasError="supplierName">
                        <tmss-text-input [text]="l('SupplierName')" formControlName="supplierName" [isDisabled]="true"></tmss-text-input>
                    </div>

                    <div class="form-group" hasError="country">
                        <tmss-text-input [text]="l('Country')" formControlName="country" isRequired="true"></tmss-text-input>
                        <div class="error-message" errorMessage>
                            <div *ifError="'required'">{{'Required' | localize}}</div> 
                            <div *ngIf="valNumberInContry">{{'Numbers are not allowed in the country!' | localize}}</div>
                        </div>
                    </div>

                    <div class="form-group" hasError="addressLine1">
                        <tmss-text-input [text]="l('AddressLine')" formControlName="addressLine1" isRequired="true"></tmss-text-input>
                        <div class="error-message" errorMessage>
                            <div *ifError="'required'">{{'Required' | localize}}</div>
                        </div>
                    </div>

                    <div class="form-group" hasError="legalBusinessName">
                        <tmss-text-input [text]="l('LegalBusinessName')" formControlName="legalBusinessName" isRequired="true"></tmss-text-input>
                        <div class="error-message" errorMessage>
                            <div *ifError="'required'">{{'Required' | localize}}</div>
                        </div>
                    </div>

                    <div class="form-group col-sm-2" hasError="isSiteDefault">
                        <tmss-checkbox [text]="l('SiteDefault')" formControlName="isSiteDefault"></tmss-checkbox>
                    </div>
                </div>

                <div class="modal-footer modal-footer-master">
                    <button (click)="save()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-save mr-1"></i>
                        {{'SaveModal' | localize}}
                    </button>
                    
                    <button (click)="closeModel()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-danger">
                        <i class="fa tmss-fa fa-times mr-1"></i>
                        {{'Cancel' | localize}}
                    </button>
                    <button class="ghost" #submitBtn></button>

                </div>
            </form>
        </div>
    </div>
</div>