<div class="content d-flex flex-column flex-column-fluid">
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" [formGroup]="searchForm" *ngIf="searchForm">
                    <p-panel header="{{l('Search')}}" [toggleable]="true">
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-xl-3 col-sm-12 mb-05">
                                <tmss-text-input #receiptNum [text]="l('ReceiptNum')"
                                    formControlName="sReceiptNum"></tmss-text-input>
                            </div>
                            <div class="col-xl-6 col-sm-12">
                                <tmss-combobox [items]="listSupplier" [text]="l('Vendor')"
                                    formControlName="sVendorId"></tmss-combobox>
                            </div>

                            <div class="col-xl-3 col-sm-12">
                                <button (click)="searchReceipts()" pButton pRipple type="button"
                                    class="tmss-btn p-button-outlined btn-outline-primary">
                                    <i class="fa tmss-fa fa-search mr-1"></i>
                                    {{'Search' | localize}}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-sm-12">
                                <div class="form-group">
                                    <tmss-combobox [items]="receiptStatusList" [text]="l('Status')"
                                        formControlName="sStatus"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-12">
                                <tmss-combobox [items]="approveStatusList" [text]="l('ApproveStatus')"
                                    formControlName="sApproveStatus"></tmss-combobox>
                            </div>
                            <div class="col-xl-3 col-sm-12">
                                <tmss-datepicker [text]="l('ReceivedDateFrom')"
                                    formControlName="sReceivedDateFrom"></tmss-datepicker>
                            </div>
                            <div class="col-xl-3 col-sm-12">
                                <tmss-datepicker [text]="l('ToDate')"
                                    formControlName="sReceivedDateTo"></tmss-datepicker>
                            </div>
                        </div>
                    </p-panel>
                </form>
            </div>
        </div>

        <div class="card card-custom gutter-b">
            <div class="card-body">
                <!-- <p-panel header="List purchase purpose" class="content-panel-custom" [toggleable]="true"> -->
                <div class="row align-items-center">
                    <div class="col-12">
                        <grid-table [height]="'500px'" [columnDefs]="gridColDef" [rowData]="listReceipts"
                            [paginationParams]="paginationParams" (callBackEvent)="callBackGrid($event)"
                            (changePaginationParams)="changePaginationParams($event)"
                            (onChangeSelection)="onChangeSelection($event)">
                        </grid-table>
                    </div>
                </div>
                <!-- </p-panel> -->
                <div class="col-12 text-right">
                    <button (click)="addNewReceipt()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-plus mr-1"></i>
                        {{l('Add')}}
                    </button>
                    <button (click)="addNewReceiptFromPO()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-plus mr-1"></i>
                        <span *ngIf="receiptType==0">{{l('AddGRFromPO')}}</span>
                        <span *ngIf="receiptType==1">{{'AddGRServiceFromPO' | localize}}</span>
                    </button>
                    <button (click)="viewDetail()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-eye mr-1"></i>
                        {{l('ViewDetail')}}
                    </button>
                    <!-- <button (click)="editReceipt()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-edit mr-1"></i>
                        {{l('Edit')}}
                    </button> -->
                    <button *ngIf="selectedRow.receiptType == 1" (click)="sendRequest()" pButton pRipple
                        type="button" class="tmss-btn p-button-outlined btn-outline-warning">
                        <i class="fa tmss-fa fa-plane mr-1"></i>
                        {{ l('SendRequest') }}
                    </button>

                    <button (click)="cancelReceipt()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-danger">
                        <i class="fa tmss-fa fa-trash-alt mr-1"></i>
                        {{'Cancel' | localize}}
                    </button>
                    <button (click)="export()" pButton pRipple
                        type="button" class="tmss-btn p-button-outlined btn-outline-success">
                        <i class="fa tmss-fa fa-file-download mr-1"></i>
                        {{ l('ExportExcel') }}
                    </button>
                    <!--<button (click)="printReceipt()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined p-button-primary">
                        <i class="fa tmss-fa fa-plus mr-1"></i>
                            {{l('Print')}}
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<view-list-approve-detail  #viewDetailApprove></view-list-approve-detail>
