<!-- <tabset #tabsetComponent class="tab-container tabbable-line mt-3">
    <tab [heading]="l('GeneralInformation')" (selectTab)="onSelectTabGenralInfo()" class="ui-g-12 ph-0"> -->
<div class="content d-flex flex-column flex-column-fluid">
    <div [class]="containerClass">
        <form #mstPurchasePurposeForm="ngForm" *ngIf="createOrEditForm" [formGroup]="createOrEditForm" novalidate
            autocomplete="off">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <!-- <p-panel header="{{l('GeneralInformation')}}" [toggleable]="true"> -->
                    <div class="row">
                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('RequisitionNo')" isDisabled="true"
                                    formControlName="requisitionNo"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-12">
                            <tmss-text-input [text]="l('DocumentType')" isDisabled="true"
                                formControlName="documentType"></tmss-text-input>
                        </div>
                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('Preparer')" isDisabled="true"
                                    formControlName="prepareName"></tmss-text-input>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('Status')" isDisabled="true"
                                    formControlName="authorizationStatus"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('Email')" isDisabled="true"
                                    formControlName="email"></tmss-text-input>
                            </div>
                        </div>
                        <!-- <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('Division')" isDisabled="true"
                                    formControlName="division"></tmss-text-input>
                            </div>
                        </div> -->
                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('Department')" isDisabled="true"
                                    formControlName="department"></tmss-text-input>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-combobox [text]="l('InventoryGroup')" isRequired="true"
                                    formControlName="inventoryGroupId" [items]="listInventoryGroups" [hasFilter]="false"
                                    (onChangeValue)="onChangeInventoryGroup($event)"></tmss-combobox>
                            </div>
                        </div>

                        <div class="col-xl-3 col-sm-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('TotalPrice')" style="text-align: right !important;"
                                    isDisabled="true" formControlName="totalPrice"></tmss-text-input>
                            </div>
                        </div>
                        <div class="col-xl-1 col-sm-12">
                            <div class="form-group">
                                <tmss-text-input [text]="l('')" isDisabled="true"
                                    formControlName="currencyCodeTotal"></tmss-text-input>
                            </div>
                        </div>

                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-combobox [text]="l('OriginalCurrency')" formControlName="originalCurrencyCode"
                                    (onChangeValue)="changeCurrency()" [items]="listCurrency"
                                    [hasFilter]="false"></tmss-combobox>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <tmss-combobox [text]="l('PurchasePurpose')" formControlName="purchasePurposeId"
                                    [hasFilter]="false" [items]="listPurchasePurpose"></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-12">
                            <div class="form-group">
                                <!-- <tmss-combobox [text]="l('Supplier')" [items]="listSuppliers" formControlName="vendorId"
                                    isRequired="true"></tmss-combobox> -->
                                <tmss-search-input [text]="l('BudgetCode')" formControlName="chargeAccount"
                                    isRequired="true" (onSearch)="showChargeAccount()"
                                    [showModal]="true"></tmss-search-input>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-sm-12">
                            <tmss-datepicker [text]="l('DocumentDate')" formControlName="rateDate" isRequired="true"
                                (ngModelChange)="changeDocumentDate($event)"></tmss-datepicker>
                        </div>
                        <div class="col-xl-8 col-sm-12">
                            <div class="form-group">
                                <tmss-textarea [text]="l('Description')" formControlName="description"></tmss-textarea>
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                        <button (click)="addRow(true)" pButton pRipple type="button"
                            class="tmss-btn p-button-outlined btn-outline-primary">
                            <i class="fa tmss-fa fa-plus mr-1"></i>
                            {{l('Add')}}
                        </button>
                        <button (click)="removeSelectedRow()" pButton pRipple type="button"
                            class="tmss-btn p-button-outlined btn-outline-danger">
                            <i class="fa tmss-fa fa-times mr-1"></i>
                            {{l('Delete')}}
                        </button>
                        <button (click)="createPr()" pButton pRipple type="button"
                            class="tmss-btn p-button-outlined btn-outline-primary">
                            <i class="fa tmss-fa fa-save mr-1"></i>
                            {{l('RememberMe')}}
                        </button>
                        <button (click)="sendRequest()" pButton pRipple type="button"
                            [disabled]="currentIdPr === 0"
                            class="tmss-btn p-button-outlined btn-outline-warning">
                            <i class="fa tmss-fa fa-location-arrow mr-1"></i>
                            {{ l('SendRequest') }}
                        </button>
                    </div>
                    <!-- </p-panel> -->
                </div>
            </div>
            <button class="ghost" #submitBtn></button>
        </form>
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <grid-table [height]="'300px'" [columnDefs]="gridColDefDetail"
                            [rowData]="listPurchaseRequestDetail" (callBackEvent)="callBackGridPrDetail($event)"
                            [showPagination]="false" (onChangeSelection)="onChangeSelectionPrDetail($event)"
                            (keydown)="agKeyUp($event)" [frameworkComponents]="frameworkComponents"
                            (cellValueChanged)="cellValueChanged($event)"
                            (cellEditingStopped)="cellEditingStopped($event)" (onSearch)="searchByEnter($event)">
                        </grid-table>
                    </div>
                </div>

                <!-- </p-panel> -->
            </div>
        </div>

        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="col-xl-12 ph-0" style="display: flex;">
                    <tmss-text-input class="pl-0" [text]="l('File')" [(ngModel)]="fileName">
                    </tmss-text-input>
                    <div style="display: flex; justify-content: space-between;">
                        <button type="button" style="margin-left: 0; height: 24px;" (click)="uploadSubImage()">
                            <i class="fa fa-upload mr-1"></i>
                            <span>{{ l('ChooseFile') }}</span>
                        </button>
                    </div>
                    <button (click)="refreshFile()" class="tmss-btn p-button-outlined btn-outline-success ml-2">
                        <i class="fa fa-sync-alt mr-1"></i>{{ l('Refresh') }}
                    </button>
                    <button class="tmss-btn p-button-outlined btn-outline-danger" (click)="deleteFile()">
                        <i class="fa fa-trash mr-1"></i>{{ l('Delete') }}
                    </button>
                </div>
                <fieldset
                    *ngIf="(this.uploadData && this.uploadData.length > 0) || (this.listFileAttachment && this.listFileAttachment.length > 0)"
                    class="fieldset-border mt-2">
                    <h6 class="card-header pl-0">
                        {{ l('Attachments') }}
                    </h6>
                    <div class="col-12 ph-0">
                        <grid-table [height]="'20vh'" [columnDefs]="attachmentsColDefs" [defaultColDef]="defaultColDef"
                            [showPagination]="false" [rowData]="uploadData" (callBackEvent)="callBackFileGrid($event)"
                            (onChangeSelection)="onChangeFileSelection($event)"></grid-table>
                    </div>
                </fieldset>
            </div>
        </div>

    </div>
</div>

<tmss-select-grid-modal #listSupplierPopup [height]="'330px'" [headerText]="l('ListSupplier')" [modalClass]="'modal-lg'"
    (close)="patchSupplier($event)" [isHideSearchField]="false" [columnDefs]="supplierDefs" [showPagination]="false"
    [showInput]="true" [notPartFilter]="true" [apiCall]="getAllSupplier.bind(this)"
    (isLoading)="setLoading($event)"></tmss-select-grid-modal>

<tmss-select-grid-modal #listCategory [height]="'330px'" [headerText]="l('ListCategory')" [modalClass]="'modal-lg'"
    (close)="patchCategory($event)" [isHideSearchField]="false" [columnDefs]="categoryDefs" [showPagination]="false"
    [showInput]="true" [apiCall]="getAllCategories.bind(this)" (isLoading)="setLoading($event)"
    [notPartFilter]="true"></tmss-select-grid-modal>

<tmss-select-grid-modal #listSite [height]="'330px'" [headerText]="l('ListSupplierSite')" [modalClass]="'modal-lg'"
    (close)="patchSite($event)" [isHideSearchField]="false" [columnDefs]="siteDefs" [showPagination]="false"
    [showInput]="true" [apiCall]="getAllSites.bind(this)" (isLoading)="setLoading($event)"
    [notPartFilter]="true"></tmss-select-grid-modal>

<tmss-select-grid-modal #listLocation [height]="'330px'" [headerText]="l('ListLocation')" [modalClass]="'modal-lg'"
    (close)="patchLocation($event)" [isHideSearchField]="false" [columnDefs]="locationDefs" [showPagination]="false"
    [showInput]="true" [apiCall]="getAllLocations.bind(this)" (isLoading)="setLoading($event)"
    [notPartFilter]="true"></tmss-select-grid-modal>

<tmss-select-grid-modal #listInventoryItems [height]="'330px'" [headerText]="l('ListInventoryItems')"
    [modalClass]="'modal-lg'" (close)="patchInventoryItems($event)" [isHideSearchField]="false"
    [columnDefs]="inventoryItemsDefs" [showPagination]="false" [showInput]="true"
    [apiCall]="getAllInventoryItems.bind(this)" (isLoading)="setLoading($event)"
    [notPartFilter]="true"></tmss-select-grid-modal>

<tmss-select-grid-modal #listUOM [height]="'330px'" [headerText]="l('ListUOM')" [modalClass]="'modal-lg'"
    (close)="patchUOM($event)" [isHideSearchField]="false" [columnDefs]="uomItemsDefs" [showPagination]="false"
    [showInput]="true" [apiCall]="getAllUOM.bind(this)" (isLoading)="setLoading($event)"
    [notPartFilter]="true"></tmss-select-grid-modal>

<tmss-select-grid-modal #listRequester [height]="'330px'" [headerText]="l('ListRequester')" [modalClass]="'modal-lg'"
    (close)="patchRequester($event)" [isHideSearchField]="false" [columnDefs]="requestersDefs" [showPagination]="false"
    [showInput]="true" [apiCall]="getAllRequesters.bind(this)" (isLoading)="setLoading($event)"
    [notPartFilter]="true"></tmss-select-grid-modal>

<tmss-select-grid-modal #selectBudgetCodeHeadModal [height]="'300px'" [headerText]="l('BudgetCodeSelection')"
    [columnDefs]="budgetCodeColDefs" [isHideSearchField]="false" [apiCall]="getAllGlCode.bind(this)"
    [modalClass]="'modal-lg'" [textLeft]="l('Confirm')" [notPartFilter]="true"
    (close)="patchBudgetCode($event)"></tmss-select-grid-modal>

<tmss-select-grid-modal #selectChargeAccount [height]="'300px'" [headerText]="l('BudgetCodeSelection')"
    [columnDefs]="budgetCodeColDefs" [isHideSearchField]="false" [apiCall]="getAllChargeAccount.bind(this)"
    [modalClass]="'modal-lg'" [textLeft]="l('Confirm')" [notPartFilter]="true"
    (close)="patchChargeAccount($event)"></tmss-select-grid-modal>

<purchase-request-distributions-modal #prDistributions
    (close)="pathDistributions($event)"></purchase-request-distributions-modal>
    <view-list-approve-detail (getData)="getPurchaseRequestEdit(currentIdPr)" #viewDetailApprove></view-list-approve-detail>