<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" (onHidden)="reset()" [config]="{ignoreBackdropClick: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #mstPurchasePurposeForm="ngForm" *ngIf="createOrEditForm" [formGroup]="createOrEditForm" novalidate
                autocomplete="off">
                <div class="modal-header modal-header-master" style="margin-bottom: 20px;">
                    <h5 class="modal-title" style="margin-left: 15px;">
                        <span *ngIf="isEdit">{{l("Edit")}}</span>
                        <span *ngIf="!isEdit">{{l("Add")}}</span>
                    </h5>
                    <button type="button" style="margin-right: 1% !important;" class="close" (click)="closeModel()"
                        [attr.aria-label]="l('Close')">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>

                <div class="modal-body modal-body-master">
                    <div class="form-group" hasError="purchasePurposeCode">
                        <tmss-text-input [text]="l('PurchasePurposeCode')" formControlName="purchasePurposeCode" isRequired="true"></tmss-text-input>
                        <div class="error-message" errorMessage>
                            <div *ifError="'required'">Required</div>
                            <div *ngIf="duplicateCode">{{'Duplicate' | localize}}</div>
                        </div>
                    </div>

                    <div class="form-group" hasError="purchasePurposeName">
                        <tmss-text-input [text]="l('PurchasePurposeName')" formControlName="purchasePurposeName" isRequired="true"></tmss-text-input>
                        <div class="error-message" errorMessage>
                            <div *ifError="'required'">Required</div>
                        </div>
                    </div>

                    <div class="form-group" hasError="status">
                        <tmss-combobox class="input-search" [text]="l('Status')" formControlName="status"
                            [items]="listStatus">
                        </tmss-combobox>
                    </div>

                    <div  class="form-group col-sm-3" hasError="haveBudgetCode">
                        <tmss-checkbox [text]="l('BudgetCode')" formControlName="haveBudgetCode"></tmss-checkbox>
                    </div>
                </div>

                <div class="modal-footer modal-footer-master">
                    <button *ngIf="isGranted('MasterData.PurchasePurpose.Add') && isGranted('MasterData.PurchasePurpose.Edit')" (click)="save()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-plus mr-1"></i>
                        {{"Save" | localize}}
                    </button>
                    <button (click)="closeModel()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-danger">
                        <i class="fa tmss-fa fa-times mr-1"></i>
                        {{"Cancel" | localize}}
                    </button>

                    <button class="ghost" #submitBtn></button>

                </div>
            </form>
        </div>
    </div>
</div>
