<div>
    <div class="content d-flex flex-column flex-column-fluid">
        <!-- <sub-header [title]="'VenderManament' | localize">
            <div role="actions">
                <button (click)="create()" pButton pRipple
                    type="button" class="p-button-primary" icon="fa fa-plus" label="{{l('Add')}}">
                </button>
            </div>
        </sub-header> -->
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" [formGroup]="periodForm1"  *ngIf="periodForm1">
                        <p-panel header="Title" [toggleable]="true">
                            <div class="row align-items-center">
                                <tmss-text-input [text]="l('CodeSeg1')" isRequired="true"
                                    formControlName="Keyword"></tmss-text-input>
                                <div class="col-xl-3 col-sm-3">
                                    <button (click)="searchPeriod()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                                        <i class="fa tmss-fa fa-search mr-1"></i>
                                        {{'Search' | localize}}
                                    </button>
                                </div>
                            </div>
                        </p-panel>
                    </form>
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <p-panel header="Title"class="content-panel-custom" [toggleable]="true">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <grid-table [height]="'300px'" [columnDefs]="gridColDef" [rowData]="listPeriod"
                                [paginationParams]="paginationParams" (callBackEvent)="callBackGrid($event)"
                                (changePaginationParams)="changePaginationParams($event)"
                                [frameworkComponents]="frameworkComponents"
                                ></grid-table>
                        </div>
                    </div>
                </p-panel>
                <div class="col-12 text-right">
                    <button (click)="addPeriod()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-plus mr-1"></i>
                        {{'Add' | localize}}
                    </button>
                    <button (click)="searchPeriod()" pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-plus mr-1"></i>
                        {{'Edit' | localize}}
                    </button>
                </div>
                </div>
            </div>
        </div>
        <create-or-edit-mst-period #createOrEditMstPeriod></create-or-edit-mst-period>
        <!-- <CreateOrEditVender #CreateOrEditVender (modalSave)="getVender()" [isLoading]="isLoading"></CreateOrEditVender> -->
    </div>
</div>