<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" (onHidden)="reset()" [config]="{ignoreBackdropClick: 'static'}">
    <div class="modal-dialog tmss-modal-md">
        <div class="modal-content">

            <div autocomplete="off">
                <div class="modal-header modal-header-master" style="margin-bottom: 10px;">
                    <h5 class="modal-title" style="margin-left: 15px;">
                        <span  *ngIf="!hasUserCbb" >{{'Ghi chú yêu cầu kiểm tra lại thông tin' | localize}}</span>
                    </h5>
                    <button type="button" style="margin-right: 1% !important;" class="close" (click)="close()"
                        [attr.aria-label]="l('Close')">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>

                <div class="modal-body modal-body-master">
                    <div class="row">

                        <div class="col-xl-12 col-sm-12 mt-1">
                                <tmss-textarea [text]="l('Note')" [height]="'80px'" [(ngModel)]="note"
                                ></tmss-textarea>
                        </div>
                    </div>
                </div>

                <div class="modal-footer modal-footer-master">
                    <button (click)="save()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-save mr-1"></i>
                        {{'Xác nhận' | localize}}
                    </button>
                    <button (click)="close()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-danger">
                        <i class="fa tmss-fa fa-times mr-1"></i>
                        {{'Cancel' | localize}}
                    </button>
                    <button class="ghost" #submitBtn></button>
                </div>
            </div>
        </div>
    </div>
</div>
