<div>
    <div class="content d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" [formGroup]="iventoryGroupForm" *ngIf="iventoryGroupForm">
                        <div class="row align-items-center">
                            <tmss-text-input [text]="l('InventoryGroupCode')" formControlName="iventoryGroupName">
                            </tmss-text-input>

                            <tmss-text-input [text]="l('InventoryGroup')" class="left-margin-input-search"
                                formControlName="iventoryCode">
                            </tmss-text-input>

                            <div class="col-xl-3 col-sm-3">
                                <button (click)="searchInventoryGroup()" pButton pRipple type="button"
                                    class="tmss-btn p-button-outlined btn-outline-primary">
                                    <i class="fa tmss-fa fa-search mr-1"></i>
                                    {{'Search' | localize}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <grid-table [height]="'50vh'" [columnDefs]="gridColDef" [rowData]="listIventoryGroup"
                                [paginationParams]="paginationParams" (callBackEvent)="callBackGrid($event)"
                                (changePaginationParams)="changePaginationParams($event)"
                                (onChangeSelection)="onChangeSelection($event)">
                            </grid-table>
                        </div>
                    </div>
                    <!-- </p-panel> -->
                    <div class="col-12 text-right">
                        <button *ngIf="isGranted('MasterData.InventoryGroup.Add')" (click)="add()" pButton pRipple type="button"
                            class="tmss-btn p-button-outlined btn-outline-primary">
                            <i class="fa tmss-fa fa-plus mr-1"></i>
                            {{'AddModal' | localize}}
                        </button>
                        <button *ngIf="isGranted('MasterData.InventoryGroup.Edit')" (click)="edit()" pButton pRipple type="button"
                            class="tmss-btn p-button-outlined btn-outline-primary">
                            <i class="fa tmss-fa fa-edit mr-1"></i>
                            {{'Edit' | localize}}
                        </button>
                        <button *ngIf="isGranted('MasterData.InventoryGroup.Delete')" (click)="delete()" pButton pRipple type="button"
                            class="tmss-btn p-button-outlined btn-outline-danger">
                            <i class="fa tmss-fa fa-trash-alt mr-1"></i>
                            {{'Delete' | localize}}
                        </button>
                        <button *ngIf="isGranted('MasterData.InventoryGroup.Export')" (click)="exportExcell()" pButton pRipple type="button"
                            class="tmss-btn p-button-outlined p-button-success">
                            <i class="fa tmss-fa fa-file-download mr-1"></i>
                            {{'ExportToExcel' | localize}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <create-or-edit-mst-iventory-group-modal #createOrEditMstIventoryGroupModal
            (close)="searchInventoryGroup()"></create-or-edit-mst-iventory-group-modal>
    </div>
</div>
