<div>
    <div class="row align-items-center" style="margin-right: 5px;">
        <div class="col-12">
            <div>
                <h6> {{'VersionInfo' | localize}}</h6>
            </div>
            <grid-table [height]="'200px'" [columnDefs]="gridColDef" [rowData]="listPeriodVersion"
                [paginationParams]="paginationParams" (callBackEvent)="callBackGrid($event)"
                (changePaginationParams)="changePaginationParams($event)"
                (onChangeSelection)="onChangeSelection($event)">
            </grid-table>
        </div>
    </div>
    <!-- </p-panel> -->
    <div class="col-12 text-right">
        <button (click)="addVersion()" pButton pRipple type="button"
            class="tmss-btn p-button-outlined btn-outline-primary">
            <i class="fa tmss-fa fa-plus mr-1"></i>
            {{'AddModal' | localize}}
        </button>
        <button (click)="editVersion()" pButton pRipple type="button"
            class="tmss-btn p-button-outlined btn-outline-primary">
            <i class="fa tmss-fa fa-edit mr-1"></i>
            {{'Edit' | localize}}
        </button>
        <button (click)="deleteVersion()" pButton pRipple type="button"
            class="tmss-btn p-button-outlined btn-outline-danger">
            <i class="fa tmss-fa fa-trash-alt mr-1"></i>
            {{'Delete' | localize}}
        </button>
        <button (click)="publicToDept()" pButton pRipple type="button"
            class="tmss-btn p-button-outlined btn-outline-primary">
            <i class="fa tmss-fa fa-outdent mr-1"></i>
            {{'PublicToDepartment' | localize}}
        </button>
        <button (click)="exportExcell()" pButton pRipple type="button"
            class="tmss-btn p-button-outlined p-button-success">
            <i class="fa tmss-fa fa-file-download mr-1"></i>
            {{'ExportData' | localize}}
        </button>
    </div>
</div>
<create-or-edit-bms-mst-period-version #createOrEditBmsMstPeriodVersion (close)="searchPeriodVersion($event)"
    [periodName]="periodName"></create-or-edit-bms-mst-period-version>