<div>
    <div class="content d-flex flex-column flex-column-fluid">
        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <form class="form" [formGroup]="gridForm" *ngIf="gridForm">
                        <p-panel header="{{'Search' | localize}}" [toggleable]="true">
                            <div class="row align-items-center">
                                <div class="col-xl-3 col-sm-12">
                                    <tmss-combobox class="input-search" [text]="l('Period')" formControlName="periodId"
                                        [items]="listPertiod">
                                    </tmss-combobox>
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <tmss-text-input [text]="l('Keyword')" formControlName="fillterText">
                                    </tmss-text-input>
                                </div>
                                <div class="col-xl-3 col-sm-12">
                                    <button (click)="search()" pButton pRipple type="button"
                                        class="tmss-btn p-button-outlined btn-outline-primary">
                                        <i class="fa tmss-fa fa-search mr-1"></i>
                                        {{'Search' | localize}}
                                    </button>
                                </div>
                            </div>
                        </p-panel>
                    </form>
                </div>
            </div>

            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <grid-table [height]="'300px'" [columnDefs]="gridColDef" [rowData]="listGrid"
                                [paginationParams]="paginationParams" (callBackEvent)="callBackGrid($event)"
                                (changePaginationParams)="changePaginationParams($event)"
                                (onChangeSelection)="onChangeSelection($event)">
                            </grid-table>
                        </div>
                    </div>
                    <!-- </p-panel> -->
                    <div class="col-12 text-right">

                        <button (click)="add()" pButton
                            pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                            <i class="fa tmss-fa fa-plus mr-1"></i>
                            {{'AddModal' | localize}}
                        </button>
                        <button (click)="addMultiple()" pButton
                            pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                            <i class="fa tmss-fa fa-plus mr-1"></i>
                            {{'AddMultiple' | localize}}
                        </button>
                        <button (click)="edit()" pButton
                            pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                            <i class="fa tmss-fa fa-edit mr-1"></i>
                            {{'Edit' | localize}}
                        </button>
                        <button (click)="delete()"
                            pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-danger">
                            <i class="fa tmss-fa fa-trash-alt mr-1"></i>
                            {{'Delete' | localize}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <create-or-edit-bms-mst-project-code #createOrEditBmsMstProjectCode
            (close)="search()"></create-or-edit-bms-mst-project-code>
            <create-or-edit-multiple-bms-mst-project-code #createOrEditMultipleBmsMstProjectCode
            (close)="search()"></create-or-edit-multiple-bms-mst-project-code>
    </div>
</div>