<div class="content d-flex flex-column flex-column-fluid">
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" [formGroup]="purchaseRequestForm" *ngIf="purchaseRequestForm"
                    (submit)="searchPurchaseRequest()">
                    <p-panel header="{{'Search' | localize}}" [toggleable]="true">
                        <div class="row">
                            <div class="col-xl-4 col-sm-12">
                                <tmss-text-input [text]="l('ReqisitionNumber')"
                                    formControlName="requisitionNo"></tmss-text-input>
                            </div>
                            <!-- <div class="col-xl-4 col-sm-12">
                                <tmss-combobox [text]="l('Preparer')" formControlName="preparerId"
                                    [items]="listPerparers"></tmss-combobox>
                            </div> -->
                            <!-- <div class="col-xl-4 col-sm-12">
                                <tmss-search-input [text]="l('Buyer')" [showModal]="true" (onSearch)="preparersPopup()"
                                    formControlName="buyerId"></tmss-search-input>
                            </div> -->
                            <div class="col-xl-4 col-sm-12">
                                <div class="form-group">
                                    <tmss-combobox [text]="l('InventoryGroup')" formControlName="inventoryGroupId"
                                        [items]="listInventoryGroups" [hasFilter]="false"></tmss-combobox>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-4">
                                <div class="form-group">
                                    <tmss-combobox [text]="l('StatusApproval')" formControlName="status"
                                        [items]="approvalStatus" [hasFilter]="false"></tmss-combobox>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-sm-12">
                                <tmss-datepicker [text]="l('FromDate')" formControlName="fromDate"></tmss-datepicker>
                            </div>
                            <div class="col-xl-4 col-sm-12">
                                <tmss-datepicker [text]="l('ToDate')" formControlName="toDate"></tmss-datepicker>
                            </div>

                            <div class="col-xl-1 col-sm-12">
                                <button (click)="searchPurchaseRequest()" pButton pRipple type="submit"
                                    class="tmss-btn p-button-outlined btn-outline-primary">
                                    <i class="fa tmss-fa fa-search mr-1"></i>
                                    {{'Search' | localize}}
                                </button>
                            </div>
                        </div>
                    </p-panel>
                </form>
            </div>

        </div>

        <div class="card card-custom gutter-b">
            <div class="card-body">
                <!-- <p-panel header="List purchase purpose" class="content-panel-custom" [toggleable]="true"> -->
                <div class="row align-items-center">
                    <div class="col-12">
                        <grid-table [height]="'400px'" [columnDefs]="gridColDef" [rowData]="listPurchaseRequest"
                            [paginationParams]="paginationParams" (callBackEvent)="callBackGrid($event)"
                            (changePaginationParams)="changePaginationParams($event)"
                            (onChangeSelection)="onChangeSelection($event)" [rowSelection]="'multiple'">
                        </grid-table>
                    </div>
                </div>
                <!-- </p-panel> -->
                <div class="col-12 text-right">
                    <button *ngIf="selectedRows.length == 1 && selectedRows[0].authorizationStatus == 'APPROVED'"
                        (click)="listBuyer.show()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-plane mr-1"></i>
                        {{l('Bàn giao việc')}}
                    </button>
                    <button *ngIf="isGranted('PurchaseRequest.PurchaseRequestManagement.Add')"
                        (click)="addPurchaseRequest()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-plus mr-1"></i>
                        {{l('Add')}}
                    </button>
                    <button *ngIf="isGranted('PurchaseRequest.PurchaseRequestManagement.Import')" (click)="importPr()"
                        pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-file-upload mr-1"></i>
                        {{l('ImportExcel')}}
                    </button>

                    <button (click)="viewDetail()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-eye mr-1"></i>
                        {{l('ViewDetail')}}
                    </button>
                    <!-- <button *ngIf="isGranted('PurchaseRequest.CreatePurchaseRequest')" (click)="editPurchaseRequest()"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        <i class="fa tmss-fa fa-edit mr-1"></i>
                        {{l('Edit')}}
                    </button> -->
                    <button *ngIf="isGranted('PurchaseRequest.PurchaseRequestManagement.Delete')"
                        (click)="deletePurchaseRequest()" pButton pRipple type="button" [disabled]="!isDisabled"
                        class="tmss-btn p-button-outlined btn-outline-danger">
                        <i class="fa tmss-fa fa-trash-alt mr-1"></i>
                        {{l('Delete')}}
                    </button>
                    <button *ngIf="isGranted('PurchaseRequest.PurchaseRequestManagement.SendRequest')" [disabled]="!isDisabled"
                        (click)="sendRequest()" pButton pRipple class="tmss-btn p-button-outlined btn-outline-warning">
                        <i class="fa tmss-fa fa-location-arrow mr-1"></i>
                        {{ l('SendRequest') }}
                    </button>
                    <button (click)="undoRequest()" pButton pRipple type="button"
                        class="tmss-btn p-button-outlined btn-outline-primary">
                        {{'UndoRequest' | localize}}
                    </button>
                    <button *ngIf="isGranted('PurchaseRequest.PurchaseRequestManagement.Export')" (click)="export()"
                        pButton pRipple type="button" class="tmss-btn p-button-outlined btn-outline-success">
                        <i class="fa tmss-fa fa-file-download mr-1"></i>
                        {{ l('ExportExcel') }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <view-purchase-request #viewPurchaseRequest [hasRequestInfo]="selectedRow.requestNote ? true : false"
        (close)="searchPurchaseRequest()"></view-purchase-request>
    <forward-purchase-request #forwardPurchaseRequest (close)="searchPurchaseRequest()"></forward-purchase-request>
    <import-purchase-request #importPurchaseRequest (close)="searchPurchaseRequest()"></import-purchase-request>
</div>

<tmss-select-grid-modal #listPreparers [height]="'330px'" [headerText]="l('ListRequester')" [modalClass]="'modal-lg'"
    (close)="patchPreparers($event)" [isHideSearchField]="false" [columnDefs]="preparersDefs" [showPagination]="false"
    [showInput]="true" [apiCall]="getAllPreparers.bind(this)" [notPartFilter]="true"></tmss-select-grid-modal>

<tmss-select-grid-modal #listBuyer [height]="'330px'" [headerText]="l('BuyerList')" [modalClass]="'modal-lg'"
    (close)="assignJob($event)" [isHideSearchField]="false" [columnDefs]="buyerColDef" [showPagination]="false"
    [showInput]="true" [apiCall]="getAllBuyer.bind(this)" [notPartFilter]="true"></tmss-select-grid-modal>

<view-list-approve-detail (getData)="searchPurchaseRequest()" #viewDetailApprove></view-list-approve-detail>
